{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Задачи проекта</h2>

<a href="{% url 'issue_add' project.pk %}"
    class="btn btn-success mb-3">
    Добавить задачу
</a>

{% for issue in project.issues.all %}

<div class="card mb-3">
    <div class="card-body">

        <h5 class="card-title">
            {{ issue.summary }}
        </h5>

        <p>
            <strong>Статус:</strong>
            {{ issue.status }}
        </p>

        <a
        href="{% url 'issue_detail' issue.pk %}"
            class="btn btn-info btn-sm">
            Подробнее
        </a>
    </div>
</div>

{% empty %}

<div class="alert alert-info">В проекте пока нет задач</div>

{% endfor %}

<hr>

<h3>Участники проекта</h3>

{% for user in project.users.all %}
<p>{{ user.username }}</p>

{% empty %}

<p>Пользователей нет</p>

{% endfor %}

<a href="{% url 'project_users' project.pk %}"
    class="btn btn-primary">
    Управление пользователями
</a>

{% endblock %}